auth_enabled: false

server:
  http_listen_port: {{ tempo_http_port }}
  grpc_listen_port: {{ tempo_grpc_port }}
  log_level: info

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:{{ tempo_otlp_grpc_port }}
        http:
          endpoint: 0.0.0.0:{{ tempo_otlp_http_port }}

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m
  complete_block_timeout: 15m

compactor:
  compaction:
    compacted_block_retention: 24h

storage:
  trace:
    backend: local
    wal:
      path: {{ tempo_data_dir }}/wal
    local:
      path: {{ tempo_data_dir }}/traces

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: k0s
  processor:
    service_graphs:
      dimensions:
        - namespace
    span_metrics:
      dimensions:
        - namespace
        - status_code
  storage:
    path: {{ tempo_data_dir }}/generator/wal
    remote_write:
      - url: http://{{ hostvars['obser-1'].ansible_host }}:9090/api/v1/write
        send_exemplars: true

overrides:
  defaults:
    metrics_generator:
      processors:
        - service-graphs
        - span-metrics
