apiVersion: v1
kind: Service
metadata:
  name: {{ tempo_kubernetes_service_name }}
  namespace: {{ tempo_k8s_namespace }}
spec:
  ports:
    - name: otlp-http-compat
      port: {{ tempo_kubernetes_service_port }}
      protocol: TCP
      targetPort: {{ tempo_otlp_http_compat_proxy_port }}
    - name: otlp-http
      port: {{ tempo_kubernetes_http_target_port }}
      protocol: TCP
      targetPort: {{ tempo_kubernetes_http_target_port }}
    - name: query-http
      port: {{ tempo_kubernetes_query_port }}
      protocol: TCP
      targetPort: {{ tempo_kubernetes_query_port }}
---
apiVersion: v1
kind: Endpoints
metadata:
  name: {{ tempo_kubernetes_service_name }}
  namespace: {{ tempo_k8s_namespace }}
subsets:
  - addresses:
      - ip: {{ hostvars['obser-2'].ansible_host }}
    ports:
      - name: otlp-http-compat
        port: {{ tempo_otlp_http_compat_proxy_port }}
        protocol: TCP
      - name: otlp-http
        port: {{ tempo_kubernetes_http_target_port }}
        protocol: TCP
      - name: query-http
        port: {{ tempo_kubernetes_query_port }}
        protocol: TCP
