apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    uid: tempo
    access: proxy
    url: http://{{ hostvars['obser-2'].ansible_host }}:3200
    isDefault: false
    editable: true

    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: prometheus
      tracesToLogsV2:
        datasourceUid: loki
        filterByTraceID: true
        filterBySpanID: false
        spanStartTimeShift: "-5m"
        spanEndTimeShift: "5m"
      nodeGraph:
        enabled: true
      search:
        hide: false
